<form action="" method="post">
    {% csrf_token %}
    <table>
        <!-- <tr><td>
            <input type="submit" value="Signup confirmation" name="_signup_confirmation">
        </td></tr>
        <tr><td>
            <input type="submit" value="Password reset with key" name="_password_reset_key">
        </td></tr> -->
        <tr><td>
            <input type="submit" value="Event canceled" name="_event_canceled">
        </td></tr>
        <tr><td>
            <input type="submit" value="Event created" name="_event_created">
        </td></tr>
        <tr><td>
            <input type="submit" value="Participant joined" name="_participant_joined">
        </td></tr>
        <tr><td>
            <input type="submit" value="Participant left" name="_participant_left">
        </td></tr>
        <tr><td>
            <input type="submit" value="Request connection" name="_request_connection">
        </td></tr>
        <tr><td>
            <input type="submit" value="Accept connection" name="_accept_connection">
        </td></tr>
        <tr><td>
            <input type="submit" value="Personal invite" name="_personal_invite">
        </td></tr>
        <tr><td>
            <input type="submit" value="Generic invite" name="_generic_invite">
        </td></tr>
    </table>
</form>
