<table>
<tr>
<td>{{ users }}</td><td>users</td>
</tr>
<tr></tr>
<tr>
<td>{{ links_total }}</td><td> links (total)</td>
</tr>
<tr>
<td>{{ links_new }}</td><td> links (NEW) : suggestion détectée en 2 users, aucun des 2 n'a sollicité l'autre</td>
</tr>
<tr>
<td>{{ links_pen }}</td><td> links (PENDING) : 1 des 2 users a sollicité l'autre</td>
</tr>
<tr>
<td>{{ links_acc }}</td><td> links (ACCEPTED) : les users se sont connectés</td>
</tr>
<tr></tr>
<tr>
<td>{{ contacts_total }}</td><td> contacts (total)</td>
</tr>
<tr>
<td>{{ contacts_new }}</td><td> contacts (NEW) : contacts créé par le back-end à partir du répertoire</td>
</tr>
<tr>
<td>{{ contacts_pen }}</td><td> contacts (PENDING) : contacts ayant été invités</td>
</tr>
<tr>
<td>{{ contacts_acc }}</td><td> contacts (CLOSED) : contact s'étant inscrits</td>
</tr>
<tr></tr>
<tr>
<td>{{ events }}</td><td> events</td>
</table>