<table>
<tr>
<td>{{ users }}</td><td>users (total)</td><td><td>
</tr>
<tr>
<td>{{ users_new }}</td><td>users (Nouveaux)</td><td>Inscrits depuis 7 jours<td>
</tr>
<tr>
<td>{{ users_active }}</td><td>users (Actifs)</td><td>Dernière connexion de moins de 7 jours<td>
</tr>
<tr></tr>
<tr>
<td>{{ links_total }}</td><td>links (total)</td><td><td>
</tr>
<tr>
<td>{{ links_new }}</td><td>links (NEW)</td><td>Suggestion détectée entre 2 users, aucun des 2 n'a sollicité l'autre<td>
</tr>
<tr>
<td>{{ links_pen }}</td><td>links (PENDING)</td><td>1 des 2 users a sollicité l'autre<td>
</tr>
<tr>
<td>{{ links_acc }}</td><td>links (ACCEPTED)</td><td>Les users se sont connectés<td>
</tr>
<tr></tr>
<tr>
<td>{{ contacts_total }}</td><td>contacts (total)</td><td><td>
</tr>
<tr>
<td>{{ contacts_new }}</td><td>contacts (NEW)</td><td>Contacts créé par le back-end à partir du répertoire<td>
</tr>
<tr>
<td>{{ contacts_pen }}</td><td>contacts (PENDING)</td><td>Contacts ayant été invités<td>
</tr>
<tr>
<td>{{ contacts_acc }}</td><td>contacts (CLOSED)</td><td>Contact s'étant inscrits<td>
</tr>
<tr></tr>
<tr>
<td>{{ events_total }}</td><td>events (total)</td><td><td>
</tr>
<tr>
<td>{{ events_last_week }}</td><td>events récents</td><td>Créés depuis 7 jours (date de création < 1 sem)<td>
</tr>
<tr>
<td>{{ events_coming }}</td><td>events à venir</td><td>Date de début > aujourd'hui<td>
</tr>
</table>