/* ======= GENERAL ======= */
@font-face {
  font-family: "woozup";
  src: url("../font/woozup.ttf") format("truetype");
}
.wooup-font {
    font-family: "woozup";
}
.woozup-title {
    font-size: 150px;
    font-family: "woozup";
    margin: 50px;;
}
body {
    text-align: center;
    background-color: hsla(14, 100%, 50%, 0.66);
    color: white;
}
h1, h2, h3, p, a {
    color: white;
    margin: 50px;
}
